body{
    font-size:12pt;
    background: white;
    color: black;
    font-family: OpenSans-Light;	
}


h1, h2, h3, h4, h5, h6 {
    font-family: OpenSans-Semibold;
    font-weight: 300;
    color: #40C944;
    hyphens: none !important;
    -moz-hyphens: none !important;
    -webkit-hyphens: none !important;
    adobe-hyphenate: none !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

div#cover-image{
    text-align:center;
}

a.footnoteRef{
    font-family: OpenSans-Light;
    font-size: 10pt;
    vertical-align: super;
    line-height: normal;
    
}

img {
    max-width: 98%;
    max-height: 98%;
    width: auto;
    height: auto;
}

p #bib{

    font-family: OpenSans-Light;
    font-size: 10pt;
    vertical-align: super;
    line-height: normal 
}
